:root{
    --color-blue-reguler: #3cb9db;
    --color-pink-reguler: oklch(93.1% 0.028 16.8);
    --color-red-200: #e5d0e9;
}

.to-blue-reguler {
    --tw-gradient-to: var(--color-blue-reguler);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
}
.to-pink-reguler {
    --tw-gradient-to: var(--color-pink-reguler);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
}
.to-red-200 {
    --tw-gradient-to: var(--color-red-200);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
}

.from-blue-reguler {
    --tw-gradient-from: var(--color-blue-reguler);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
}
.from-pink-reguler {
    --tw-gradient-from: var(--color-pink-reguler);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
}
.from-red-200 {
    --tw-gradient-from: var(--color-red-200);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
}

.via-red-200 {
    --tw-gradient-via: var(--color-red-200);
    --tw-gradient-via-stops: var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-via) var(--tw-gradient-via-position), var(--tw-gradient-to) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
}
.via-blue-reguler {
    --tw-gradient-via: var(--color-blue-reguler);
    --tw-gradient-via-stops: var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-via) var(--tw-gradient-via-position), var(--tw-gradient-to) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
}
.via-pink-reguler {
    --tw-gradient-via: var(--color-pink-reguler);
    --tw-gradient-via-stops: var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-via) var(--tw-gradient-via-position), var(--tw-gradient-to) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
}

.text-pink-reguler {
    color: var(--color-pink-reguler);
}
.text-red-200 {
    color: var(--color-red-200);
}
.text-blue-reguler {
    color: var(--color-blue-reguler);
}

.border-blue-reguler {
    border-color: var(--color-blue-reguler);
}