:root{
    --color-blue-reguler: oklch(73.2% 0.117 220.5);
    --color-pink-reguler: oklch(93.1% 0.028 16.8);
    --color-purple-reguler: oklch(88.2% 0.041 321.4);
}

.to-blue-reguler {
    --tw-gradient-to: var(--color-blue-reguler);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
}
.to-pink-reguler {
    --tw-gradient-to: var(--color-pink-reguler);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
}
.to-purple-reguler {
    --tw-gradient-to: var(--color-purple-reguler);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
}

.from-blue-reguler {
    --tw-gradient-from: var(--color-blue-reguler);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
}
.from-pink-reguler {
    --tw-gradient-from: var(--color-pink-reguler);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
}
.from-purple-reguler {
    --tw-gradient-from: var(--color-purple-reguler);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
}

.via-purple-reguler {
    --tw-gradient-via: var(--color-purple-reguler);
    --tw-gradient-via-stops: var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-via) var(--tw-gradient-via-position), var(--tw-gradient-to) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
}
.via-blue-reguler {
    --tw-gradient-via: var(--color-blue-reguler);
    --tw-gradient-via-stops: var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-via) var(--tw-gradient-via-position), var(--tw-gradient-to) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
}
.via-pink-reguler {
    --tw-gradient-via: var(--color-pink-reguler);
    --tw-gradient-via-stops: var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-via) var(--tw-gradient-via-position), var(--tw-gradient-to) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
}

.text-pink-reguler {
    color: var(--color-pink-reguler);
}
.text-purple-reguler {
    color: var(--color-purple-reguler);
}
.text-blue-reguler {
    color: var(--color-blue-reguler);
}

.border-blue-reguler {
    border-color: var(--color-blue-reguler);
}